
{% extends 'base.html' %}


{% block contenido_cuerpo %}

    <p>
        <h1>
            Crear Producto 
        </h1>
        <div class="">
            <form method = "POST" enctype="multipart/form-data">{% csrf_token %}    <!-- Esto es obligatorio para el método POST. Es para la seguridad. Lo de enctype es para que podamos subir la imagen -->
                {{form.as_p}}
                <button type="submit">CREAR</button>
            </form>
        </div>
    </p>

{% endblock contenido_cuerpo %}